<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="mt-4">Hello,  {% print(user_name) %}! </h1>
          <p>You're logged in!</p>
          <p>Email: {% print(user_email) %}</p>
          <div>
            <p>Google Profile Picture:</p>
            <img class="rounded-circle" alt="Google profile pic" style="width: 200px; height: 200px;"
                             src="{% print(user_profile_pic) %}"></img>
          </div>
          <a class="btn btn-primary mt-4" href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>