<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <style>
      .container,
      body,
      html {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center">
      <a class="btn btn-primary align-middle" href="/login">Sign in with Google</a>
    </div>
  </body>
</html>